<div class="content-body">
    <img
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F000%2F113%2F975%2Foriginal%2Fmedical-free-vector-background-with-heart-monitor.jpg&f=1&nofb=1">

    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <form class="example-form">

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password">
                </mat-form-field>

                <mat-checkbox class="checkbox">Remember password</mat-checkbox>

                <button class="login-button" mat-raised-button color="accent">Login</button>
            </form>

        </mat-card-content>
    </mat-card>

</div>